<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
      <h1>How Klobuchar's surge impacted the New Hampshire primary</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">February 12, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  

  <section class="container-lg">
    <p>After finishing fifth in <a href="http://www.startribune.com/a-precinct-by-precinct-look-at-klobuchar-s-iowa-caucus-performance/567235201/">Iowa's chaotic caucuses</a>, Amy Klobuchar headed into New Hampshire's primary primary looking for a boost – and she got one. She exceeded expectations to land in third place with about 20% of the vote, beating former Vice President Joe Biden and Massachusetts Sen. Elizabeth Warren.</p>
    
    <p>Klobuchar heads into Nevada and South Carolina with some wind at her back, though those demographically diverse states may prove more challenging.</p>

    <p>New Hampshire – a predominantly white, rural swing state dotted with small towns – is the sort of place Klobuchar has argued she could reach due to her <a href="http://www.startribune.com/how-amy-klobuchar-fared-in-trump-country/498035261/">strong support</a> at home in greater Minnesota.</p>

    <p>Mapping the results by New Hampshire township reveals where Klobuchar performed best. While she only received the most votes in 25 towns, she finished second behind U.S. Sen. Bernie Sanders or former South Bend Mayor Pete Buttigieg in about 75 other places. Here's a closer look at her performance in the Granite State:</p>
  </section>


  <div class="slide" id="mainslide">

      <div id="mainlegend">Ranked placement by votes</div>
      <div class="legend"><div class="blue1"></div><div class="blue2"></div><div class="blue4"></div><div class="blue5"></div> <div class="gray2"></div> <div class="null"></div></div>

      <div class="legend"><div class="white">4th</div><div class="white">3rd</div><div class="white">2nd</div><div class="white">1st</div>  <div class="white">tied</div> <div class="white">none</div></div>
      

      <div class="map" id="map"></div>

      <div class="pullout">
          <div id="mainlegend">Jump to city | <span class="reset">Reset view</span></div>
          <div class="adjacent" index="0">Manchester</div> <div class="adjacent" index="1">Nashua</div>
          <div class="adjacent" index="2">Concord</div> <div class="adjacent" index="3">Derry</div>
      </div>

      <div class="slide">
          <div class="contest-table">
            <table>
              <thead>
                <tr><th></th>
                <th class="cand">Candidate</th>
                <th class="pct">DELEGATES</th>
                <th class="pct">VOTES</th>
                <th class="pct">PCT</th>
                <th class="bar"></th></tr></thead>
      
                <tbody>
    
                      
                    <tr class="party-null winner" title="party">
                        <td class="winner" title="">
                          <span class="check">✓</span>
                        </td>
                      <td class="cand">
                        <span class="first">Bernie&nbsp;</span>Sanders
                        <span class="party-label"></span>
                      </td>
                      <td class="votes"><span>9</span></td>
                      <td class="votes"><span>76,324</span></td>
                      <td class="pct"><span class="num">25.7%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 25.7%;"></span>
                      </td>
                  </tr>


                    <tr class="party-null" title="party">
                      <td title="party">
                          <span class="candidate-color-label" title="party"></span>
                        </td>
                            <td class="cand">
                              <span class="first">Pete&nbsp;</span>Buttigieg
                              <span class="party-label"></span>
                            </td>
                            <td class="votes"><span>9</span></td>
                            <td class="votes"><span>72,457</span></td>
                            <td class="pct"><span class="num">24.4</span></td>
                            <td class="bar" title="party">
                              <span class="pctBar" style="width: 24.4%;"></span>
                            </td>
                      </tr>
    
                      <tr class="party-dem5" title="party">
                          <td title="party">
                            <span class="candidate-color-label" title="party"></span>
                          </td>
                          <td class="cand">
                              <span class="first">Amy&nbsp;</span>Klobuchar
                              <span class="party-label"></span>
                            </td>
                            <td class="votes"><span>6</span></td>
                            <td class="votes"><span>58,796</span></td>
                            <td class="pct"><span class="num">19.8</span></td>
                            <td class="bar" title="party">
                              <span class="pctBar" style="width: 19.8%;"></span>
                            </td>
                      </tr>

    
              <tr class="party-null" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Elizabeth&nbsp;</span>Warren
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>0</span></td>
                  <td class="votes"><span>27,387</span></td>
                  <td class="pct"><span class="num">9.2</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 9.2%;"></span>
                  </td>
              </tr>
    
    
              <tr class="party-null" title="party">
                <td title="party">
                  <span class="candidate-color-label" title="party"></span>
                </td>
                <td class="cand">
                  <span class="first">Joe&nbsp;</span>Biden
                  <span class="party-label"></span>
                </td>
                <td class="votes"><span>0</span></td>
                <td class="votes"><span>24,921</span></td>
                <td class="pct"><span class="num">8.4</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 8.4%;"></span>
                </td>
            </tr>
    
    
          <tr class="party-null" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Other&nbsp;</span>
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="votes"><span>36,737</span></td>
              <td class="pct"><span class="num">12.4</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 12.4%;"></span>
              </td>
            </tr>
    
  
                </tbody>
            </table>
      </div>
        </div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">A split vote possibly helped Sanders</h2>
      <p>Some observers have wondered whether Klobuchar's surge may have peeled votes away from Buttigieg and benefited Sanders, who's New Hampshire win this time was slimmer than in 2016 and didn't reach a vote majority.</p>
        
      <p>It isn't always clear whom a voter's second choice might be based on the ideology of their first choice, nor is it clear how Sanders would perform with fewer rivals on the ballot.</p>

      <p>But it is clear that Klobuchar and Buttigieg – candidates perceived as moderate Democrats – drew more votes than the two progressive standard-bearers, Sanders and Warren.</p>

      <p>Klobuchar's New Hampshire constituency was somewhat ideologically and demographically broad, <a href="https://fivethirtyeight.com/features/whats-behind-amy-klobuchars-surge-and-can-it-go-national/" target="new_">according to a FiveThirtyEight analysis</a>, while some of her biggest boosts came from college-educated white women, older voters and those who were undecided until late. And similarly to Buttigieg, she did well with voters identifying as moderate or conservative.</p>
        
    </section>
    
      <div class="slide" id="mainslide">
          <div class="map" id="map2"></div>
      </div>

      <div class="slide">
          <div class="contest-table">
              <h4>Moderate candidates</h4>
            <table>
              <thead>
                <tr><th></th>
                <th class="cand"></th>
                <th class="pct">VOTES</th>
                <th class="pct">PCT</th>
                <th class="bar"></th></tr></thead>
      
                <tbody>
                    <tr class="party-centrist winner" title="party">
                        <td title="party">
                          <span class="candidate-color-label" title="party"></span>
                        </td>
                        <td class="cand">
                          <span class="first">COMBINED&nbsp;</span>TOTAL
                          <span class="party-label"></span>
                        </td>
                        <td class="votes"><span>131,235</span></td>
                        <td class="pct"><span class="num">44.2%</span></td>
                        <td class="bar" title="party">
                          <span class="pctBar" style="width: 44.2%;"></span>
                        </td>
                    </tr>
    
                    <tr class="party-centrist" title="party">
                      <td title="party">
                          <span class="candidate-color-label" title="party"></span>
                        </td>
                            <td class="cand">
                              <span class="first">Pete&nbsp;</span>Buttigieg
                              <span class="party-label"></span>
                            </td>
                            <td class="votes"><span>72,457</span></td>
                            <td class="pct"><span class="num">24.4</span></td>
                            <td class="bar" title="party">
                              <span class="pctBar" style="width: 24.4%;"></span>
                            </td>
                      </tr>
    
                    <tr class="party-centrist" title="party">
                        <td title="party">
                          <span class="candidate-color-label" title="party"></span>
                        </td>
                        <td class="cand">
                            <span class="first">Amy&nbsp;</span>Klobuchar
                            <span class="party-label"></span>
                          </td>
                          <td class="votes"><span>58,796</span></td>
                          <td class="pct"><span class="num">19.8</span></td>
                          <td class="bar" title="party">
                            <span class="pctBar" style="width: 19.8%;"></span>
                         </td>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
    
    <div class="slide">
              
        <div class="contest-table">
            <h4>Progressive candidates</h4>
          <table>
            <thead>
              <tr><th></th>
              <th class="cand"></th>
              <th class="pct">VOTES</th>
              <th class="pct">PCT</th>
              <th class="bar"></th></tr></thead>
    
              <tbody>
                  <tr class="party-progressive winner" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">COMBINED&nbsp;</span>TOTAL
                        <span class="party-label"></span>
                      </td>
                      <td class="votes"><span>103,711</span></td>
                      <td class="pct"><span class="num">34.9%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 34.9%;"></span>
                      </td>
                  </tr>
    
                <tr class="party-progressive" title="party">
                  <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                  <td class="cand">
                    <span class="first">Bernie&nbsp;</span>Sanders
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>76,324</span></td>
                  <td class="pct"><span class="num">25.7</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 25.7%;"></span>
                  </td>
              </tr>
    
    
            <tr class="party-progressive" title="party">
                <td title="party">
                  <span class="candidate-color-label" title="party"></span>
                </td>
                <td class="cand">
                  <span class="first">Elizabeth&nbsp;</span>Warren
                  <span class="party-label"></span>
                </td>
                <td class="votes"><span>27,387</span></td>
                <td class="pct"><span class="num">9.2</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 9.2%;"></span>
                </td>
            </tr>
              </tbody>
          </table>
    </div>
    </div>
    
    
        <div class="rule"></div>
        <h2 class="chartTitle">The road to Super Tuesday</h2>
  
    <section class="container-lg">
      <p>In the next couple weeks, Nevada and South Carolina will hold caucuses and a primary, respectively, the final two contests before Super Tuesday on March 3, where Minnesota and about a third of Democratic delegates are up for grabs.</p>

      <p>Klobuchar's polling in bigger states has been weak, according to <a href="https://www.realclearpolitics.com/epolls/2020/president/sc/south_carolina_democratic_presidential_primary-6824.html" target="new_">Real Clear Politics averages</a>, though many of those surveys were conducted before Iowa. As upcoming states are polled more heavily, Klobuchar could see further bumps in support.</p>

      <p>To continue her momentum though, she will need to further expand her support base and draw votes from more diverse corners of the Democratic electorate.</p>
    </section>
    
<div class="slide"><p><span class="byline">Data source: Associated Press, Real Clear Politics</span></p>
</div>

<section class="container-lg">

    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Klobuchar's surge impacted New Hampshire's primary" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>

</section>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>